### Idea ###
*.iml
*.ipr
*.iws
.idea
out

### Package Files ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.ra

### Log file ###
*.log

### Other ###
tags

### React ###
www/frontend/node_modules/*
www/frontend/package-lock.json
www/frontend/static/*
www/frontend/*.log
www/frontend/dist
www/frontend/coverage

# www/frontend/build/*

www/frontend/.yarn-cache
www/frontend/.gitignore
www/frontend/README.md

# misc
www/frontend/.DS_Store
www/frontend/.env.local
www/frontend/.env.development.local
www/frontend/.env.test.local
www/frontend/.env.production.local

www/frontend/npm-debug.log*
www/frontend/yarn-debug.log*
www/frontend/yarn-error.log*

### Laravel ###

vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

### Docker ###

## PHP ##
www/backend/*_log*
www/*_log*